{% extends 'layout.html' %}

{% block content%}

{% load static %}
<header class="row">
    <div class="col-md-3">
        <img src="{% static 'portfolio/rey.jpg' %}" alt="Cargando..." class=" img-thumbnail">

    </div>
    <div class="col-md-8 ">
        <h1>Hola, soy Reymundo Bernal</h1>
        <h3>I am a Python backend developer</h3>
        <p >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi molestias, facilis minima obcaecati error reprehenderit eum quis enim aliquid officia quam nemo quibusdam nostrum qui rerum labore aut iusto quisquam recusandae earum ad totam explicabo ullam incidunt! Odio hic ex velit alias, ab nobis quae officiis esse asperiores accusantium eveniet iusto nesciunt voluptatibus repellendus? Natus unde tempora consequatur vel voluptatibus, amet sit assumenda dolor tenetur hic praesentium, mollitia eaque totam dolorem distinctio at commodi! Eum nemo temporibus, explicabo doloribus commodi, ea ab dolorem ducimus, consequatur totam sunt harum dicta. Deleniti iste odit tempora, consequuntur nesciunt vitae voluptate animi excepturi maiores.</p>

    </div>

</header>
<div class="row my-4 p-4 text-center">
        <h1>My projects</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, architecto.</p>

        {% for project in projects %}
            <div class="col-md-4 p-4">
                <div class="card card-project">
                    <img src="{{project.image.url}}" alt="{{Cargando...}}" class="card-img-top">
                    <div class="card card-body">
                        <h2>{{project.title}}</h2>
                        <p>{{project.description}}</p>    
                        {% if project.url %}
                            <a href="{{project.url}}" class="btn btn-primary btn-sm" target="_blank">Ver</a>
                        {% endif %}
                                
                        
                    </div>
                </div>
                
            </div>
        {% endfor %}
</div>


{% endblock%}

